[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
gunicorn = "*"
psycopg2 = "==2.7.5"
django-heroku = "*"
psycopg2-binary = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
