# /etc/systemd/system/share-iiit.socket 


[Unit]
Description=shareiiit gunicorn socket

[Socket]
ListenStream=/run/share-iiit.sock

[Install]
WantedBy=sockets.target
