# /etc/systemd/system/share-iiitd.socket 


[Unit]
Description=shareiiitd gunicorn socket

[Socket]
ListenStream=/run/share-iiitd.sock

[Install]
WantedBy=sockets.target
