# /etc/systemd/system/share-iiitd.service 

[Unit]
Description=osaiiitd backend daemon
Requires=share-iiitd.socket
After=network.target

[Service]
User=iiitd
Group=www-data
WorkingDirectory=/home/iiitd/share-iiitd/backend
ExecStart=/home/iiitd/share-iiitd/backend/venv/bin/gunicorn \
          --access-logfile - \
          --workers 5 \
          --bind unix:/run/share-iiitd.sock \
          backend.wsgi:application

[Install]
WantedBy=multi-user.target[Service]
