# /etc/systemd/system/share-iiit.service 

[Unit]
Description=osaiiitd backend daemon
Requires=share-iiit.socket
After=network.target

[Service]
User=iiitd
Group=www-data
WorkingDirectory=/home/iiitd/share-iiit/backend
ExecStart=/home/iiitd/share-iiit/backend/venv/bin/gunicorn \
          --access-logfile - \
          --workers 5 \
          --bind unix:/run/share-iiit.sock \
          backend.wsgi:application

[Install]
WantedBy=multi-user.target[Service]
